:root{
    --main-bg-color: #A020F0;
}
.bs-example {
    margin: 0px;
}
/* NAVIGATION BAR START */
.navbar{
    background:var(--main-bg-color);
}
.navbar-brand {
    font-size: 1.5em;
    font-family: sans-serif;
}
/* NAVIGATION BAR END */

/* HOMEPAGE START */
.jumbotron {
    margin-top: 0;
    margin-bottom: 0;
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
}
.jumbotron h5,h3 {
    text-align: center;
}
.alert {
    margin: 0;
}
.glow {
    font-size: 3.1em;
    color: #ffffff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 .6em #eeeeee, 0 0 1.25em #000000, 0 0 1.8em #000000, 0 0 2.5em #000000, 0 0 3.1em #9554b3, 0 0 3.7em #9554b3, 0 0 4.3em #9554b3;
    }
    to {
        text-shadow: 0 0 1.25em #eeeeee, 0 0 1.8em #ff4da6, 0 0 2.5em #ff4da6, 0 0 3.1em #ff4da6, 0 0 3.7em #ff4da6, 0 0 4.3em #ff4da6, 0 0 4.9em #ff4da6;
    }
}
/* HOMEPAGE END */
/* FOOTER START */
footer {
    padding: 0 0 0 0;
    background-color:var(--main-bg-color);
    margin: 0;
}

.fa {
    padding: 1.25em;
    font-size: 1.4em;
    width: 3.75em;
    text-align: center;
    text-decoration: none;
    margin: .3em .1em;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.5;
    text-decoration: none;
}

.fa-facebook {
background: #3B5998;
color: #ffffff;
margin-top: 1.8em;
}

.fa-whatsapp {
background: #25d366;
color: #ffffff;
}

.fa-twitter {
background: #55ACEE;
color: #ffffff;
}

.fa-instagram {
background: #125688;
color: #ffffff;
}

p {
text-align: center;

}
/* FOOTER END */