<!DOCTYPE html>
<html lang="en" dir="ltr">


<head>
  <meta charset="utf-8">
  <title>Patient | Download Bill</title>
</head>
<body>
  <br><br><br>
  <div class="invoice-box">
    <table cellpadding="0" cellspacing="0">
      <tr class="top">
        <td colspan="2">
          <table>
            <tr>
              <td class="title">
                <h5>Hospital Management</h5>
              </td>
              <td>
                Admit Date: {{admitDate}}<br>
                Release Date: {{releaseDate}}<br>
                Days Spent: {{daySpent}}
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr class="information">
        <td colspan="2">
          <table>
            <tr>
              <td>
                Patient Name : {{patientName}}<br>
                Patient Mobile : {{mobile}}<br>
                Patient Addres : {{address}}<br>
              </td>

              <td>
                Doctor Name :<br>
                {{assignedDoctorName}}<br>

              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr class="information">
        <td colspan="2">
          <table>
            <tr>
              <td>
                Disease and Symptoms :<br>
                &nbsp &nbsp &nbsp &nbsp &nbsp {{symptoms}}
              </td>

            </tr>
          </table>
        </td>
      </tr>
      <tr class="information">
        <td colspan="2">
          <table>
            <tr>
              <td>
                Charges :<br><br>
                Room Charge of {{daySpent}} Days : {{roomCharge}}<br>
                Doctor Fee : {{doctorFee}}<br>
                Medicine Cost : {{medicineCost}}<br>
                Other Charge : {{OtherCharge}} <br><br>
                &nbsp &nbsp &nbsp &nbsp &nbsp Total Rupees : {{total}}
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</body>
</html>
