{% extends 'patientBase.html' %}
{% block title %}Patient | Book Appointment {% endblock %}
{% load widget_tweaks %}
{% block content %}

<br><br>
{% if message %}
<script>
  var a = "{{message}}";
  alert(a);
</script>

{% endif %}


<!------ add appointment page by patient  ---------->
<form method="post">
  {% csrf_token %}
  <div class="container register-form">
    <div class="form">
      <div class="note">
        <p>Book Appointment Details</p>
      </div>
      <div class="form-content">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              {% render_field appointmentForm.description class="form-control" placeholder="Description" %}
            </div>
            <div class="form-group">
              {% render_field appointmentForm.doctorId class="form-control" placeholder="doctor" %}
            </div>
          </div>
        </div>
        <button type="submit" class="btnSubmit">Book</button>
      </div>
    </div>
  </div>
</form>
{% endblock content %}
